<%= render partial: 'shared/header' %>

<div class="bucket">
  <table>
    <tr>
     <th class="comment-username">
       <span><%= "#{@comment.user.username}" %></span>
       <span class="comment-post-time"><%= time_ago_in_words(@comment.created_at) + " ago"%></span>
     </th>
   </tr>
   <tr>
     <td class="comment-text">
       <span class="comment-link">
         <%= @comment.text %>
       </span>
     </td>
    </tr>
    <tr style="font-size: 1.3rem">
      <td>
        <%= "#{@comment.votes_count} points" %></td>
    </tr>
  </table>

  <p><%= render partial: 'shared/comment_form', locals: { submit_path: create_child_comment_path(@comment) } %></p>
</div>
