<h1>Create User</h1>

<%= render partial: 'shared/model_errors', locals: {model: @user} %>

<%= form_for @user, html: {class: "create_user_form"} do |f| %>
  <p> <%= f.label(:username) %>: <%= f.text_field :username %> </p>
  <p> <%= f.label(:email) %>: <%= f.email_field :email %> </p>
  <p> <%= f.label(:password) %>: <%= f.password_field :password %> </p>
  <p> <%= f.label(:password_confirmation) %>: <%= f.password_field :password_confirmation %> </p>
  <%= f.submit "Submit" %>
<% end %>
