<h1>Create User</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.uniq.each do |error_field| %>
      <li><%= "#{ error_field.to_s.humanize } " + @user.errors[error_field].join('; ') %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user, html: {class: "create_user_form"} do |f| %>
  <p> <%= f.label(:username) %>: <%= f.text_field :username %> </p>
  <p> <%= f.label(:email) %>: <%= f.email_field :email %> </p>
  <p> <%= f.label(:password) %>: <%= f.password_field :password %> </p>
  <p> <%= f.label(:password_confirmation) %>: <%= f.password_field :password_confirmation %> </p>
  <%= f.submit "Submit" %>
<% end %>
