<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<header>
  <title>HackerNews</title>
</header>

<div class="page-header">
  <%= link_to 'Hacker News', root_path, class: 'page-title' %> |
  <%= link_to 'new', root_path, class: 'link' %> |
  <%= link_to 'comments', root_path, class: 'link' %> |
  <%= link_to 'submit', root_path, class: 'link' %>

  <% if session[:user_id].present? %>
    <%= link_to 'edit account', edit_user_path(session[:user_id]), class: 'link right-header' %>
    <span class="right-header"> | </span>
    <%= link_to 'logout', logout_path, method: :delete, class: 'link right-header' %>
  <% else %>
    <%= link_to 'login', login_path, class: 'link right-header' %>
  <% end %>
</div>
