<h1>Submit Link</h1>

<%= render partial: 'shared/model_errors', locals: {model: @link} %>

<%= form_for @link, html: {class: "submit_link_form"} do |f| %>
  <p> <%= f.label(:title) %>: <%= f.text_field :title %> </p>
  <p> <%= f.label(:url) %>: <%= f.url_field :url %> </p>
  <%= f.submit "Submit" %>
<% end %>
