<!DOCTYPE html>
<html>
  <head>
    <title>HackerNews</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.keys.each do |key| %>
      <div class="flash flash-<%= key %>">
        <p><%= sanitize(flash[key]) %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
